<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add a player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Player</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <!-- add other form controls here... -->

    <ion-button expand="full" type="submit" [disabled]="!playerForm.valid">Add Player</ion-button>
    <ion-button expand="full" color="light" (click)="onCancel()">Cancel</ion-button>
  </form>
</ion-content>
